.App-header {
    display: flex;
    border-bottom: 4px solid rgb(220, 34, 34);
    color:  rgb(230, 34, 34);
    align-items: center;
    margin-top: 10rem;
   }
   .App-header img {
     height: 200px;
   }