#count {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }
  
  #logo {
    width: 200px;
    height: 200px;
    background: url('../assets/holberton-logo.jpg') no-repeat center center;
    background-size: 200px 200px;
  }
  