.Notifications {
    border: 1px dotted rgb(220, 34, 34);
    padding: 2px;
    margin: 10px;
    position: relative;
    top: 1px;
    width: 100%;
}
.Notifications li[data-priority="default"] {
    color: blue;
}
.Notifications li[data-priority="urgent"] {
    color: red;
}